@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
  font-family: "Lato", serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}

form{
  font-family: "Lato", serif;
}
input{
  font-family: "Lato", serif;
}
button{
  font-family: "Lato", serif;
}

.header{
  max-width: 1044px;
  padding-left: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

form{
  max-width: 1044px;
  padding-left: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
}

form textarea{
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
}
.radio-btn{
  margin-bottom: 20px;
  font-size: 1.2rem;
  /* padding: 2px; */
  margin-right: 10px;
}
form input{
  margin-bottom: 20px;
  width: 2rem;
  height: 1.4rem;
}

form button{
  font-size: 1.2rem;
  padding: 2px 8px;
  width: 70px;
}

.search-container{
  max-width: 1044px;
  padding-left: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
}

.search-container input{
  width: 400px;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-right: 10px;
}

.search-container button{
  padding: 2px 8px;
  font-size: 1.4rem;
  margin-right: 10px;
}

.task {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.task-red{
  font-size: .7rem;
  color: white;
  background-color: red;
  width: 50px;
  padding:  8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.task-yellow{
  font-size: .7rem;
  color: black;
  background-color: yellow;
  width: 50px;
  padding:8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.task h2{
  margin-bottom: 20px;
}
.task-container{
  max-width: 1044px;
  padding-left: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.task-done{
  text-decoration: line-through;
}
.task-btn{
  display: flex;
  flex-direction: column;
  gap:12px;
  /* align-items: start; */
  /* justify-content: baseline; */
}

.task-btn button{
  /* margin-bottom: 20px; */
  /* font-size: 1.3rem; */
  padding: 10px 18px;
  margin-top: 5px;
  color: white;
  background-color: blue;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.task-btn .complete{
  background-color: lawngreen;
  color: black;
}
.task-btn .delete{
  background-color: #EF233C;
  color: white;
}

.clock{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}